.icon-con {
  width: 80px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  right: 20px;
  top: 20px;
}
.desk-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.each-icon {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  /* margin-bottom: 20px; */
}
.each-icon p {
  display: inline-block;
}
.main-body {
  background-color: #fffef7;
  /* background-image: url(http://www.transparenttextures.com/patterns/billie-holiday.png); */
  height: 100vh;
  display: block;
  position: fixed;
  top: 32px;
  left: 0;
  width: 100%;
}

.test {
  width: 400px;
  position: absolute;
  left: 50px;
  top: 100px;
  filter: drop-shadow(0px 0px 4px #5050502f);
}
/* header-drop-down-con */
.header-drop-down-con {
  background-color: rgb(27, 101, 149);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 32px;
  left: 0;
  width: 125px;
  height: 0px;
  z-index: 10000;
  animation: dropDown 0.3s ease;
  animation-fill-mode: both;
}
.header-drop-down-each {
  cursor: pointer;
  color: rgb(234, 229, 225);
  width: 100%;
  border-top: 1px solid rgb(234, 229, 225);
  border-bottom: 2px solid transparent;
  padding: 2px 10px;
  animation: fadeIn 0.5s ease;
  animation-fill-mode: both;
  display: flex;
  justify-content: space-between;
}
.header-drop-down-each:hover {
  background-color: rgb(32, 116, 172);
  border-bottom: 2px solid rgb(234, 229, 225);
  color: rgb(242, 241, 240);
}
.copyright {
  color: rgb(167, 167, 167);
  z-index: -1;
  font-size: 12px;
  position: fixed;
  bottom: 20px;
  right: 30px;
}
/* @mediaonlymaxwidth: 800px */
@media only screen and (max-width: 900px) {
  .main-body {
    overflow: auto;
    overflow-x: hidden;
    /* height: 100vh;  FIXME:先寫下來*/
    height: 100%;
    width: 100%;
    padding-bottom: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .desk-icon {
    display: none;
  }
  .icon-con {
    display: none;
  }
}
@keyframes dropDown {
  0% {
    height: 0px;
  }

  100% {
    height: 104px;
  }
}
