.music {
  width: 400px;
  min-height: 400px;
  background-color: transparent;
  /* animation: fadeIn 0.3s ease-in-out;
  animation-fill-mode: both; */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

/* ////////////////////////// style*/
.tape {
  width: 400px;
  height: 255.8px;
  /* background-color: rgb(88, 85, 85); */
  border-radius: 10px;
  position: relative;
  -webkit-filter: drop-shadow(0px 0px 4px #0a0a0a67);
  filter: drop-shadow(0px 0px 4px #0a0a0a67);
}

.a {
  fill: #99aaa1;
}
.b {
  fill: #4f4d4c;
}
.c {
  fill: rgb(207, 203, 198);
}
.tape-up {
  position: absolute;
  bottom: 0;
  left: 0;
  filter: drop-shadow(0px 0px 3px #0000001e);
}
/* ///////////////tape playing!!!!/////////// */
.tape-con {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 28px;
}
.tape-con.left {
  left: 35px;
}
.tape-con.right {
  right: 36px;
}
.tape {
  width: 100%;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}
.tape.play .tape-con .tape {
  animation-play-state: running;
}
.tape-con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tape-down {
  position: absolute;
  bottom: 0;
  left: 60px;
  border-radius: 10px 10px 0 0;
  border-bottom: 56px solid rgb(207, 203, 198);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0px;
  width: 280px;
}
.tape-down-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  box-shadow: inset 0 0 5px #00000056;
}
.tape-down-circle.left {
  left: -70px;
}
.tape-down-circle.right {
  right: -70px;
}
.tape-down-circle-sm {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  box-shadow: inset 0 0 5px #00000056;
  background-color: rgb(92, 92, 92);
  top: 25px;
}
.tape-down-circle-sm.right {
  right: 0;
}
.tape-down-square {
  width: 14px;
  height: 14px;
  border-radius: 5px;
  position: absolute;
  box-shadow: inset 0 0 5px #00000056;
  background-color: rgb(121, 121, 121);
  top: 15px;
}
.tape-down-square.left {
  left: 35px;
}
.tape-down-square.right {
  right: 35px;
}
.tape-down-label {
  position: absolute;
  font-size: 12px;
  letter-spacing: 1px;
  left: 78px;
  top: 10px;
  color: rgb(139, 139, 139);
}
.tape-down-label button {
  color: rgb(139, 139, 139);
  border: solid 1px rgb(139, 139, 139);
  margin: 2px auto;
  padding: 1px 4px;
  display: block;
  letter-spacing: 1px;
  font-size: 12px;
  background-color: none;
  border-radius: 5px;
  cursor: pointer;
}
.tape-cover {
  top: 0;
  left: -0.5px;
  position: absolute;
  width: 100%;
}
.tape-cover img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
/* //////////tape-play///////////////// */
.tape-container-all {
  width: 400px;
  filter: drop-shadow(3px 3px 6px #50505067);
  -webkit-filter: drop-shadow(3px 3px 6px #50505067);
}
.tape-play {
  margin-top: -15px;
  background-color: rgb(234, 229, 225);
  padding-top: 15px;
  padding-bottom: 10px;
  border-radius: 0 0 10px 10px;
}
/* /////////// */
/* tape content  */
/* /////////// */
.tape-content {
  color: #4f4d4c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
}
/* /////////// */
/* play detail  */
/* /////////// */
.tape-detail {
  width: 50%;
}
.song-title {
  font-size: 14px;
  display: block;
}

/* /////////// */
/* play icons  */
/* /////////// */
.play-icons {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.play-icon {
  width: 35px;
  height: 35px;
  padding: 4px;
}
.play-icon img {
  width: 100%;
}
.play-icon.action-loop {
  background-color: rgb(207, 203, 198);
}
/* /////////// */
/*volume-Slider   */
/* /////////// */
.volume-slider-con {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
  align-items: center;
}
.volume-slider {
  width: 80%;
  height: 5px;
  filter: grayscale(100%) opacity(50%);
  cursor: pointer;
}
.icon-volume {
  width: 25px;
  height: 20px;
  object-fit: cover;
}

/* /////////// */
/* progress    */
/* /////////// */
.progress-con {
  width: 100%;
  height: 8px;
  margin: 10px 0;
  cursor: pointer;
  background-color: rgb(242, 241, 240);
}
.progress {
  height: 100%;
  background-color: #99aaa1;
  transition: all 0.2s linear;
}

.progress-time-label {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  letter-spacing: 1px;
}

/* Music lists */
.music-lists-all {
  margin: 0 10px;
  border: 1px solid rgb(207, 207, 207);
}
/* .music-lists-btn-con {
  background-color: #4f4d4c;
  text-align: center;
}
.music-lists-btn-con button {
  color: rgb(234, 229, 225);
  background-color: none;
  border: none;
  letter-spacing: 2px;
  font-size: 14px;
  height: 20px;
}
.music-lists-btn-con button span {
  font-size: 10px;
} */
.toggle-playList-con {
  display: flex;
  height: 20px;
  padding: 0;
  margin: 0;
  width: 100%;
}
.toggle-playList-con button {
  width: 50%;
  height: 20px;
  border: none;
  background-color: rgb(234, 229, 225);
  border-radius: 0px;
}
.toggle-playList-con button:hover {
  border-bottom: 1px solid rgb(207, 203, 198);
}
.toggle-playList-con button.active {
  background-color: rgb(242, 241, 240);
}
/* .music-lists-container {
} */
.music-lists {
  /* display: flex; */
  overflow: auto;
  min-height: 80px;
  max-height: 100px;

  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 6px;
  background-color: rgb(242, 241, 240);
  /* background-image: url("../../../public/images/welcome.jpg"); */
}
.music-list-con {
  text-align: center;
  width: 30%;
  height: 40%;
  margin: 12px 0 0 0;
  cursor: pointer;
  position: relative;
}
.music-list-no-songs-message {
  color: rgb(167, 167, 167);
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}
.user-no-songs-message,
.guest-no-songs-message {
  font-size: 12px;
}
.music-list-no-songs-message p:first-child {
  font-weight: bold;
}
.music-list img {
  width: 65%;
  height: 50%;
  object-fit: contain;
}
.music-list p {
  height: 30px;
  display: block;
  font-size: 12px;
  color: #4f4d4c;
  line-height: 1.2;
}
.delete-playList {
  position: absolute;
  background-color: rgb(234, 229, 225);
  width: 14px;
  color: rgb(167, 167, 167);
  top: -12px;
  left: 8px;
}

.add-music {
  padding: 6px;

  display: flex;
  justify-content: space-between;
}
.add-music input[type="file"] {
  color: #4f4d4c;

  width: 50%;
}

.add-music input[type="file"]::file-selector-button {
  font-size: 12px;
  height: 20px;
  cursor: pointer;
  padding: 0 6px;
  border-radius: 5px;
  background-color: transparent;

  border: 1px solid rgb(167, 167, 167);
}
.add-music button {
  font-size: 12px;
  width: 30%;
}

.add-music img {
  width: 10%;
}

/* /////////// */
/* music-lists */
/* /////////// */
