.window-header {
  cursor: grab;
  text-align: center;
  position: relative;
  height: 25px;
  padding: 4px;
  border: 1px solid transparent;

  font-family: "Prata", serif;
}
.close-window {
  position: absolute;
  left: 4px;
  width: 18px;
  height: 18px;
  padding: 2px;
  border: 1px solid transparent;

  /* background-color: rgba(199, 196, 194, 0.5); */
  border: 1px solid #c7c4c2;
  transition: all 0.1s ease-in-out;
}
.window-header-text {
  font-size: 12px;
  display: inline-block;
  color: #c7c4c2;
  transition: all 0.1s ease-in-out;
}

.window-header:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
