.tomato {
  width: 300px;
  min-height: 450px;
  color: #4f4d4c;
}
.tomato-container-all {
  filter: drop-shadow(3px 3px 6px #50505067);
}
.tomato-container {
  width: 300px;
  height: 300px;
}

.tomato-outline {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: rgb(234, 229, 225);
  border: 20px solid #4f4d4c;
  position: relative;
  box-shadow: 3px 3px 8px #00000067;
}
.tomato-outline::before {
  box-shadow: inset 5px 5px 30px #00000067;
  content: "";
  width: 300px;
  height: 300px;
  border-radius: 100%;
  top: -20px;
  left: -20px;
  margin: 0;
  position: absolute;
  border: 15px solid rgb(163, 108, 108);
}
.tomato-pieces {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(226, 210, 210);
  /* 
  background-image: linear-gradient(
      90deg,
      transparent 50%,
      rgb(234, 229, 225) 50%
    ),
    linear-gradient(90deg, rgb(234, 229, 225) 50%, transparent 50%); */
}
.tomato-clock-label {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.tomato-clock-hand {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.target-progress {
  font-size: 14px;
  color: rgb(234, 229, 225);
  text-align: center;
  background-color: rgba(79, 77, 76, 0.9);
  width: 60px;
  height: 24px;
  padding: 2px 0;
  letter-spacing: 3px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*  */
.content-container {
  background-color: rgb(234, 229, 225);
  margin-top: -150px;
  padding-top: 150px;
  padding-bottom: 15px;
  border-radius: 0 0 10px 10px;
}
.tomato-time {
  width: 100%;
  height: 40px;
  text-align: center;
  margin: 10px 0;
}
.tomato-counter {
  font-size: 40px;
  letter-spacing: 5px;
  display: inline-block;
  font-family: "Courier Prime", monospace;
}
/*  */
.tomato-play-icon {
  width: 35px;
  height: 35px;
  padding: 4px;
  margin-left: 10px;
}
.tomato-play-icon img {
  width: 100%;
}
/* toggle setting */
.tomato-btn-con {
  margin: 0 10px;
  background-color: #4f4d4c;
  text-align: center;
}
.tomato-btn-con button {
  color: rgb(234, 229, 225);
  background-color: none;
  border: none;
  letter-spacing: 2px;
  font-size: 14px;
  height: 20px;
}
.tomato-btn-con button span {
  font-size: 10px;
}
.tomato-setting-container {
  font-size: 14px;
  margin: 0 10px;
  background-color: rgb(242, 241, 240);
}
.tomato-setting {
  padding: 10px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
}
.tomato-setting .dropdown-label {
  width: 50%;
}
.tomato-setting .restart {
  cursor: pointer;
  width: 100%;
}
.tomato-setting .restart-warn {
  margin-top: -4px;
  font-size: 12px;
}
