.input-radio-con {
  display: flex;
}
input[type="radio"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #555555;
  border-radius: 50%;
  background-clip: content-box;
  padding: 1.2px;
  margin: 0 4px 0 10px;
}

input[type="radio"]#High:checked {
  background-color: rgb(211, 159, 168);
}
input[type="radio"]#High {
  border: 2px solid rgb(211, 159, 168);
}
input[type="radio"]#Medium:checked {
  background-color: rgb(229, 191, 137);
}
input[type="radio"]#Medium {
  border: 2px solid rgb(229, 191, 137);
}
input[type="radio"]#Low:checked {
  background-color: #99aaa1;
}
input[type="radio"]#Low {
  border: 2px solid #99aaa1;
}
