.todo {
  width: 500px;
  min-height: 430px;
  color: #4f4d4c;
}
.todo-container-all {
  filter: drop-shadow(3px 3px 6px #50505067);
  -webkit-filter: drop-shadow(3px 3px 6px #50505067);
  position: relative;
}
.todo-container {
  width: 500px;
  height: 430px;
  border-radius: 10px;
  background-color: rgb(234, 229, 225);
  padding: 15px;
}
/* form */
.add-form-container {
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: space-between;

  flex-direction: row;
  flex-wrap: wrap;
}
.add-form-text {
  height: 30px;
  width: 92%;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid rgb(167, 167, 167);
  background-color: rgb(242, 241, 240);
}
.deadline-priority-con {
  margin-top: 10px;
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.deadline-icon {
  width: 14px;
  height: 14px;
  margin-bottom: -1px;
}
.add-form-deadline {
  padding: 0 6px;
  border: 1px solid rgb(167, 167, 167);
  background-color: rgb(242, 241, 240);
  border-radius: 5px;
  margin-left: 6px;
}
button.icon-plus {
  width: 30px;
  height: 30px;
  padding: 2px;
}
.icon-plus img {
  width: 100%;
  height: 100%;
}

/* todo list container */
.display-todo-container {
  margin-top: 10px;
}
.todo-label {
  cursor: pointer;
  padding: 2px;
  height: 20px;
  width: 100px;
  border-radius: 10px 10px 0 0;
  display: inline-block;
  text-align: center;
  color: rgb(234, 229, 225);
  font-weight: 300;
  font-size: 12px;
  transition: height 0.2s linear;
}
.todo-label:hover {
  transform: scaleY(105%);
}
.todo-label.lift {
  transform: scaleY(110%);
  box-shadow: 3px -1px 3px #00000030;
}
.todo-label.label-all {
  background-color: #4f4d4c;
}
.todo-label.label-todo {
  background-color: rgb(229, 191, 137);
}
.todo-label.label-done {
  background-color: rgb(27, 101, 149);
}
.todo-label-line {
  height: 5px;
  background-color: #4f4d4c;
  transition: all 0.1s ease-out;
}
.todo-label-line.Todo {
  background-color: rgb(229, 191, 137);
}
.todo-label-line.Done {
  background-color: rgb(27, 101, 149);
}
.todo-content {
  background-color: rgb(242, 241, 240);
  height: 250px;
  padding: 4px 10px 10px 10px;
  overflow: auto;
}
/* prgress bar */
.todo-progress-container {
  width: 100%;
  margin-top: 10px;
  height: 16px;
  background-color: #cfcbc6;
  position: relative;
}
.todo-progress {
  height: 100%;
  transition: all 0.8s ease-in;
  background-color: rgb(27, 101, 149);
}
.todo-progress-text {
  color: white;
  font-size: 14px;
  display: inline-block;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translate(-50%);
}

/* each todo list component */
.todo-list {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.check-box {
  cursor: default;
  height: 25px;
  width: 25px;
}
.check-box.checked {
  background-color: rgb(27, 101, 149);
}
.check-box.checked img {
  padding: 2px;
  width: 100%;
  height: 100%;
}
.todo-list-text-con {
  width: 80%;
  min-height: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.todo-list-text {
  width: 100%;
  border-bottom: 1px solid rgb(167, 167, 167);
}
.todo-list-deadline-time,
.todo-list-create-time {
  font-size: 12px;
  text-align: end;
  border-bottom: none;
  color: rgb(167, 167, 167);
}
.todo-list-deadline-time {
  margin-left: 6px;
}
.todo-list-priority {
  /* margin-top: 2px; */
  /* width: 68px; */
  display: inline-block;
}
.todo-list-priority-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;

  display: inline-block;
}
.todo-list-priority-label {
  margin-left: 6px;
  display: inline-block;
  font-size: 12px;
  text-align: end;
  border-bottom: none;
  color: rgb(167, 167, 167);
}
.todo-list-priority-circle.High {
  background-color: rgb(211, 159, 168);
}
.todo-list-priority-circle.Medium {
  background-color: rgb(229, 191, 137);
}
.todo-list-priority-circle.Low {
  background-color: #99aaa1;
}

.icon-trash {
  height: 25px;
  width: 25px;
  padding: 2px;
}
.icon-trash img {
  width: 100%;
  height: 100%;
}
.icon-trash:hover {
  background-color: #af7474;
}
.icon-trash:hover img {
  filter: brightness(1.5);
}
.icon-trash:active {
  background-color: #a56b6b;
}
/* toolbar  */
.todo-toolbar-con {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.todo-toolbar-deadline,
.todo-toolbar-priority {
  font-size: 14px;
  min-width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-toolbar-img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.todo-toolbar-img:hover {
  filter: brightness(60%);
  transform: scale(110%);
}
.todo-toolbar-img:active {
  filter: brightness(70%);
  transform: scale(100%);
  transform: translateY(1px);
}
.todo-toolbar-button {
  padding: 0 10px;
  width: 25%;
}
/* @mediaonlymaxwidth: 800px */
@media only screen and (max-width: 520px) {
  .todo-container {
    width: 95%;
    min-height: 475px;
    margin: 0 auto;
  }
  .todo-content {
    width: 100%;
  }
  .deadline-priority-con {
    height: 45px;
    margin-top: 6px;
  }
  .add-form-text {
    width: 90%;
  }
  .todo-toolbar-deadline,
  .todo-toolbar-priority {
    width: 40%;
  }
  .todo-toolbar-button {
    width: 49%;
  }
  .todo-toolbar-con {
    height: 50px;
    margin-top: 6px;
  }
  .todo-list-text-con {
    width: 88%;
  }
  .check-box {
    height: 20px;
    width: 20px;
  }
  .icon-trash {
    height: 20px;
    width: 20px;
  }
  .todo-label {
    width: 95px;
  }
}
