.header-content {
  padding: 4px 10px;
  display: flex;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(27, 101, 149);
  border: 1px solid rgb(27, 101, 149);
  color: white;
}
.header {
  display: block;
  position: fixed;
  border: none;
  top: 0;
  left: 0;
  width: 100%;
}
.header .item {
  color: rgb(242, 241, 240);
  padding: 1px 6px;
  border: 1px solid rgb(242, 241, 240);
  background-color: transparent;
  border-radius: 5px;
  margin-left: 5px;
}
.logo {
  width: 110px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.logo p {
  font-family: "Prata", serif;
  margin-right: 6px;
}
.logo-icon {
  height: 100%;
  width: 20px;
}
.left-item {
  display: flex;
  align-items: center;
}
/* @mediaonlymaxwidth: 800px */
@media only screen and (max-width: 400px) {
  .header-content {
    padding: 4px 2px;
  }
}
