.header-content {
  padding: 4px 15px;
  display: flex;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(27, 101, 149);
  border: 1px solid rgb(27, 101, 149);
  color: white;
}
.header {
  display: block;
  position: fixed;
  border: none;
  top: 0;
  left: 0;
  width: 100%;
}
.left-item {
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .item {
  width: 70%;
  color: rgb(242, 241, 240);
  padding: 1px 10px;
  border: 1px solid rgb(242, 241, 240);
  background-color: transparent;
  border-radius: 5px;
}
.logo {
  cursor: pointer;
}
