@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-size: 20px;
  font-family: "VT323", monospace;
  box-sizing: border-box;
}

p {
  display: inline-block;
  margin: 0;
}
button {
  font-size: 20px;
  font-family: "VT323", monospace;
  color: white;
  background-color: rgb(83, 83, 83);
  border: 1px solid rgb(59, 59, 59);
}
div {
  display: inline-block;
  background-color: ghostwhite;
  border: 1px solid gainsboro;
}
.window {
  position: absolute;
  display: inline-block;
  background-color: rgb(246, 255, 255);
  border: 1px solid gainsboro;
}

.window-body {
  padding: 6px;
}

.main-body {
  height: 100vh;
  display: block;
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
}
.window-header {
  cursor: grab;
  display: flex;
  justify-content: space-between;
}
.close-window {
  font-size: 24px;
  padding: 0 10px 0 6px;
  border-right: 1px solid gainsboro;
}
.window-header-text {
  margin-right: 6px;
  border: none;
  color: rgb(126, 126, 126);
}
.pointer {
  cursor: pointer;
}
