@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&family=Roboto+Slab:wght@300;400;600&display=swap");
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  /* font-family: "VT323", monospace; */
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-family: "Prata", serif;
}
.font-style-prata {
  font-family: "Prata", serif;
}
p {
  display: inline-block;
  margin: 0;
}
button {
  cursor: pointer;
  font-family: "Prata", serif;
  color: rgb(59, 59, 59);
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgb(167, 167, 167);
}

.window {
  position: absolute;
}

/* .window-body {
  padding: 6px;
} */
/* 
.window-header {
  cursor: grab;
  display: flex;
  justify-content: space-between;
}
.close-window {
  font-size: 24px;
  padding: 0 10px 0 6px;
  border-right: 1px solid gainsboro;
}
.window-header-text {
  margin-right: 6px;
  border: none;
  color: rgb(126, 126, 126);
} */
.pointer {
  cursor: pointer;
}
.button-style {
  padding: 0 10px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid rgb(167, 167, 167);
  transition: all 0.2s ease;
  height: 20px;
}
.button-style:hover {
  background-color: rgba(242, 241, 240, 0.5);
  transform: translateY(-1px);
  box-shadow: 1px 1px 3px #00000020;
}

.button-style:active {
  transform: translateY(0px);
  box-shadow: 0px 0px 3px #00000020;
}
.button-style:disabled:hover {
  background-color: rgb(234, 229, 225);
  transform: translateY(0px);
  box-shadow: none;
}
.button-style:disabled {
  color: rgb(167, 167, 167);
  cursor: default;
}
/* delete button */
.delete {
  cursor: pointer;
  font-size: 10px;
  text-align: center;
  background-color: transparent;
  border-radius: 20px;
  color: rgb(167, 167, 167);
}
.delete:hover {
  background-color: #af7474;
  color: rgb(234, 229, 225);
}
.delete:active {
  background-color: #a56b6b;
}
/* animation */
/* @keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(300px) scale(0.5);
  }

  100% {
    opacity: 100;
    transform: translateX(0px) scale(1);
  }
} */
