@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Prata&family=Roboto+Slab:wght@300;400;600&display=swap");
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  /* font-family: "VT323", monospace; */
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-family: "Prata", serif;
}
.font-style-prata {
  font-family: "Prata", serif;
}
p {
  display: inline-block;
  margin: 0;
}
button {
  font-family: "Prata", serif;
  color: rgb(59, 59, 59);
  background-color: transparent;
  border: 1px solid rgb(59, 59, 59);
}

.window {
  position: absolute;
}

/* .window-body {
  padding: 6px;
} */
/* 
.window-header {
  cursor: grab;
  display: flex;
  justify-content: space-between;
}
.close-window {
  font-size: 24px;
  padding: 0 10px 0 6px;
  border-right: 1px solid gainsboro;
}
.window-header-text {
  margin-right: 6px;
  border: none;
  color: rgb(126, 126, 126);
} */
.pointer {
  cursor: pointer;
}
